extends logged-out-layout
block javascripts
   script(src="/javascripts/create-user.js")

block content
   .create-account-form
      form#create-normal-user.create-user(action='/create-account' method='post')
         .login-input
            input#username(type="text" name="_id" required="true" placeholder="Username")
         .login-input
            input#email(type="email" name="email" required="true" placeholder="E-Mail Address")
         .login-input
            input#password(type="password" name="password" required="true" placeholder="Password")
         .login-input
            input#password-confirm(type="password" name="password-confirm" required="true" placeholder="Confirm Password")
         .in
            input#create-button.blue-button(type="submit" value="Create Account")
   .login-links
      a(href="/login") Return to Sign In
