extends logged-out-layout
block content
   .forgot-password-form
      form(action="/forgot-password" method="post")
         .login-input
            input#username(type="text" name="_id" required="true" value=username placeholder="Username")
         .messages
            #error-message=error_message
            #status-message=status_message
         .in
            input.blue-button(type="submit" value="Request Password Reset")
   .login-links
      a(href="/login") Return to Sign In
