.popup-widget
   .disabled-background
   .popup-container
      .popup-close
         i.fa.fa-search-minus
      .popup-contents
      .hotkey-prompt Press '/' or '?' for a list of all keyboard shortcuts.